* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    /* border-style: dashed; */
}

body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}
.head {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 100px;
    align-items: center;
    background-color:black;
    color:white;
}

.head-center {
    margin: 5px;
}

.head .nav {
    /* float:bottom; */
    height: 150px;
    width: 50%;
    padding-top: 15px;
    margin-right: 20px;
}

.head .nav a {
    text-decoration: none;
    color: white;
}
.devbox {
    position: relative;
    border: 2px solid;
    width: 100%;
    height: 1300px;
    background-color: black;
    /* background-attachment:local */

}
.devimgbg {
    /* display:flex;  */
    /* position:absolute;
    float: none; */
    width: 100%;
    height: 1000px;
}

.devimg1 {
    /* float:inherit;  */
    position:absolute;
    top: 45%;
    /* bottom: 5px; */
    right: 3%;
    justify-content: left;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: white;
    border: 6px solid;
    z-index: 1;
    
}

.about {
    /* border: 2px solid; */
    position: relative;
    width: 100%;
    height: 100px;
    padding: 15px;
    text-align: center;
    background-color:black;
    color: white
}
.skills .div {
    display: flex;
    justify-content: wrap;
    width: 50%;
    text-align: left;
}
.skills ul {
    display: flex;
    /* flex-direction: column; */
    /* position: absolute; */
    justify-content:left;
    /*text-align: left;*/
    padding: 15px;
    align-items: center;
    list-style: none;
    /*justify-content: space-evenly;*/
    /* width: 100%;  */
    /* height: 25%; */
    /* width: 25%; */
}
.skills ul li {
    padding: 15px;
    
}
 /* .about .skills ul {
    display: flex;
    position: absolute; 
    justify-content: space-evenly ; 
    justify-content: center;
    padding: 25px;
    width: 25%;
    height: 50%;
 } */

.text-index {
    padding: 20px;
    text-align: left;
}

.text-left {
    text-align: left;
    }

/* .text-right {
    text-align: right;
        } */

.text-center {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;

}
.work { 
    position: relative;
    border: 2px solid;
    justify-content: baseline;
    padding: .1%;
    align-items: center;
    /* height: 800px;
    width: 100%; */
}

.workprojects {
    display: flex;
    flex-wrap: wrap;
    /* position:relative; */
    justify-content: space-evenly;
    border-style: thick;
    /* margin: 50px; */
    padding: 15px;
    background-color: rgb(18, 18, 58);
    border: 25px solid;
}

/* .vpwork {
    display: flex;
    flex-direction: column;
    position: absolute; 
    justify-content: space-evenly;
    height: 800px;
    width: 100%;
} */

.portfolio1 {
    margin: 3px;
    border: 2px solid;
    width: 450px;
    height: 550px; 
    /* background-color: white; */
    box-shadow: 10px 20px black;
    
}

.portfolioimg-1 {
    /* border-image: ;
    float: none; 
     */

}
.portfolio2 {
    margin: 2px;
    border: 2px solid;
    width: 250px;
    height: 300px; 
    justify-content: center;
    /* background-color: red; */
    box-shadow: 5PX 10PX black;
    
}

.portfolioimg-2 {
    /* border-image: ; */
    /* float: none; */
}

/* .portfolio3 {
    border: 2px solid;
    flex: auto;
    width: 200px;
    height: 200px; 
    background-color: blue;
} */

 h4.ptitle {
    /* display:flex; */
    align-items: center;
    border: 2px solid; 
    padding: 5px;
    text-align: center;
    max-width: 125px;
    /* text-align: center; */
    background-color: black;
    color: white;
    z-index: 1; */
}

h4.ptitle1 {
    /* display:flex; */
    align-items: center;
    border: 2px solid; 
    padding: 5px;
    max-width: 100px;
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    }

.contact {
    position: relative;
    justify-content: space-evenly;
    /* width: 100%;
    height: 125px; */
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}

.contact h1 {
    line-height: 5%;
} 

div.contact-info ul {
    /*display: flex;
    position: absolute; */
    padding: 15px;
    text-align: center;
    margin-top: 15px;
} 
.
 /*
.contact-info p {
    display: flex;
    position: absolute; 
    text-align: left;
    top:15px;
    width: 50%;
    justify-content: space-evenly;
    width: 100%;
    
} */
.footer {
    text-align: center;

}


@media screen and (max-width: 982px) {
    
}

@media screen and (max-width: 768px) {
     .head .nav {
        scale: 60%
    }

    /*s.head {
        display: flex;
        justify-content:first baseline;
        padding: 20px;
        height: 150px;
        align-items: center;
        background-color:black;
        color:white;
    } */
    .devbox.devimgbg {
        scale: 60%;
        /* height:50%;
        width: 50; */
    }

    .devimg1 {
        scale: 60%;
        /* width: 40%;
        height: 40%;
        position:absolute; */
    }

     .about .skills ul {
        height:auto;
    }
    .workprojects a {
        /* display: flex; */
        /* position: absolute; */
        flex-direction: column;
        flex-wrap: wrap;
        margin: 15px 0px;
        /* height: 800px;
        width: 100%; */
    } 
    
} 



@media screen and (max-width: 480px) {
    
}