* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    display: flexbox
}


header {
    display: flexbox;
    

}

.portfolio {
    width: 200px;
    height: 200px;
    bottom margin: 20; 
}