* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    /* border-style: dashed; */
}

body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}
.head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    align-items: center;
    background-color:black;
    color:white;
}

.head-center {
    margin: 5px;
}

.head .nav {
    /* float:bottom; */
    height: 150px;
    width: 50%;
    padding-top: 15px;
    margin-right: 20px;
}

.head .nav a {
    text-decoration: none;
    color: white;
}
.devbox {
    position: relative;
    border: 2px solid;
    width: 100%;
    height: 1500px;
    background-color: black;
    /* background-attachment:local */

}
.devimgbg {
    /* display:flex;  */
    /* position:absolute;
    float: none; */
    width: 100%;
    height: 1000px;
}

.devimg1 {
    /* float:inherit;  */
    position:absolute;
    top: 45%;
    /* bottom: 5px; */
    right: 3%;
    justify-content: left;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: white;
    border: 6px solid;
    z-index: 1;
    
}

.about {
    /* border: 2px solid; */
    position: relative;
    width: 100%;
    height: 600px;
    padding: 1%;
    text-align: center;
    background-color:black;
    color: white
}
.skills .dev {
    display: flex;
    justify-content: space-between;;
    width: 50%;
}
.skills ul {
    display: flexbox;
    /* position: absolute; */
    justify-content:center;
    /*text-align: left;*/
    padding: 25px;
    /*justify-content: space-evenly;*/
    /* width: 100%;  */
    height: 25%;
    width: 25%;
}

 /* .about .skills ul {
    display: flex;
    position: absolute; 
    justify-content: space-evenly ; 
    justify-content: center;
    padding: 25px;
    width: 25%;
    height: 50%;
 } */

.text-index {
    padding: 20px;
    text-align: left;
}

.text-left {
    text-align: left;
    }

.text-right {
        text-align: right;
        }

.text-center {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;

}
.work { 
    position: relative;
    border: 2px solid;
    justify-content: baseline;
    padding: .1%;
    align-items: center;
    background-color: white;
    /* height: 800px;
    width: 100%; */
}

.workprojects {
    display: flex;
    position:relative;
    justify-content: space-between;
    border-style: thick;
    /* margin: 50px; */
    padding: 50px;
    background-color: white;
    border: 25px solid;
}

.vpwork {
    display: flex;
    /* position: absolute; */
    justify-content: space-evenly;
    height: 800px;
    width: 100%;
}

.portfolio1 {
    margin: 2px;
    border: 2px solid;
    width: 300px;
    height: 300px; 
    background-color: white;
}

.portfolioimg-1 {
    border-image: ;
    float: none; 

}
.portfolio2 {
    margin: 2px;
    border: 2px solid;
    width: 200px;
    height: 200px; 
    background-color: red;
}

.portfolioimg-2 {
    border-image: ;
    float: none;
}
.portfolio3 {
    border: 2px solid;
    flex: auto;
    width: 200px;
    height: 200px; 
    background-color: blue;
}

.contact {
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    height: 125px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

/* .contact h1 {
    line-height: 5%;
} */

.contact-info div {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
}
 
.contact-info p a {
    display: flex;
    position: absolute;
    /* position: absolute; */
    text-align: left;
    justify-content: space-evenly;
    width: 100%;
    
}
.footer {
    text-align: center;
}

@media screen and (max-width: 982px) {
    
}

@media screen and (max-width: 768px) {
     .head .nav {
        scale: 60%
    }
    /*s.head {
        display: flex;
        justify-content:first baseline;
        padding: 20px;
        height: 150px;
        align-items: center;
        background-color:black;
        color:white;
    } */
    .devbox.devimgbg {
        scale: 60%;
        /* height:50%;
        width: 50; */
    }

    .devimg1 {
        scale: 60%;
        /* width: 40%;
        height: 40%;
        position:absolute; */
    }

     .about .skills ul {
        height:auto;
    } 
} 



@media screen and (max-width: 480px) {
    
}