* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    /* border-style: dashed; */
}

body, main {
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 100px;
    align-items: center; 
    background-color:black;
    color:white;
}

.head-center {
    margin: 5px;
}

.head .nav {
    height: 150px;
    width: 50%;
    padding-top: 15px;
    margin-right: 20px;
}

.head .nav a {
    text-decoration: none;
    color: white;
}
.devbox {
    position: relative;
    border: 2px solid;
    width: 100%;
    height: 1400px;
    background-color: black;

}
.devimgbg {
    position: relative;
    width: 100%;
    height: 1000px;
}

.devimg1 {
    position:absolute;
    top: 45%;
    right: 3%;
    justify-content: left;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: white;
    border: 6px solid;
    z-index: 1;
}

.about {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 15px;
    text-align: center;
    background-color:black;
    color: white
}
.skills .div {
    display: flex;
    justify-content: wrap;
    width: 50%;
    text-align: left;
}

.skills ul {
    display: flex;
    justify-content:left;
    padding: 10px;
    align-items: center;
    list-style: none;
}

.skills ul li {
    padding: 15px;
    
}

.text-index {
    padding: 20px;
    text-align: left;
}

.text-left {
    text-align: left;
    }

.text-center {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;

}
.htags {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.work { 
    position: relative;
    border-top: 2px solid;
    border-bottom: 2px solid;
    justify-content: baseline;
    padding: .1%;
    align-items: center;

}

.workprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 15px;
    background-color: rgb(18, 18, 58);
    border: 25px solid;
}

.ptag {
    position: relative;
}
.portfolio1 {
    margin: 3px;
    border: 2px solid;
    width: 450px;
    height: 550px; 
    box-shadow: 10px 20px black;
}

.portfolio2 {
    margin: 2px;
    border: 2px solid;
    width: 250px;
    height: 300px; 
    justify-content: center;
    box-shadow: 5PX 10PX black;
}

h4.ptitle {
    position: absolute;
    top: 10%;
    left: 30%;
    align-items: center;
    border: 2px solid; 
    padding: 5px;
    text-align: center;
    max-width: 200px;
    background-color: black;
    color: white;
    z-index: 1; */
}

h4.ptitle1 {
    position: absolute;
    top: 10%;
    left: 30%;
    align-items: center;
    border: 2px solid; 
    padding: 5px;
    max-width: 100px;
    text-align: center;
    background-color: black;
    color: white;
    transform: rotate(15deg);
    }

.contact {
    position: relative;
    justify-content: space-evenly;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}

.contact h1 {
    line-height: 5%;
} 

div.contact-info ul {
    padding: 15px;
    text-align: center;
    margin-top: 15px;
} 

footer {
    border-top: 2px solid;
    text-align: center;
    background-color: black;
    color: white;

}


@media screen and (max-width: 982px) {
    .nav, .devimg1{
        scale: 80%
    } 
}

@media screen and (max-width: 768px) {
    .about .skills, .head-center, .devimg1, .htags {
        scale: 60%
    } 
    .devbox {
        height: 1000px;
    
    }
    .devimgbg {
        height:50%;
    }
    .devimg1 {
        top: 10%;
        right: 1%;
        width: 150px;
        height: 150px;
    }
    .workprojects a, .nav, div .skills ul {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 15px 0px;
    } 

    div .skills ul li{
    word-wrap: break-word;
   }
} 
