* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    height: 150px;
    align-items: center;
    background-color:black;
    color:white;
}

.head-center {
    margin: 5px;
}

.head .nav {
    /* float:bottom; */
    height: 150px;
    width: 50%;
    padding-top: 15px;
    margin-right: 20px;
}

.head .nav a {
    text-decoration: none;
    color: white;
}
.devbox {
    position: relative;
    border: 2px solid;
    width: 100%;
    height: 800px;
    background-attachment:local

}
.devimgbg {
    /* display:flex;  */
    /* position:absolute;
    float: none; */
    width: 100%;
    height: 800px;
}

.devimg1 {
    /* float:inherit;  */
    position:absolute;
    top: 65%;
    /* bottom: 5px; */
    left: 80%;
    justify-content: left;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    z-index: 1;
    
}

.about {
    /* border: 2px solid; */
    position: relative;
    width: 100%;
    height: 250px;
    padding: 0;
    text-align: center;
    background-color:black;
    color: white
}

.skills ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
    position: absolute;
}

.text-index {
    padding: 25px;
    text-align: left;
}
.work { 
    position: relative;
    border: 2px solid;
    justify-content: baseline;
    padding: 2%;
    align-items: center;
    background-color: white;
}

.workprojects {
    position:relative;
    border-style: thick
}

.portfolio1 {
    margin: 2px;
    border: 2px solid;
    width: 300px;
    height: 300px; 
    background-color: white;
}

.portfolioimg-1 {
    border-image: ;
    float: none; 

}
.portfolio2 {
    margin: 2px;
    border: 2px solid;
    width: 200px;
    height: 200px; 
    background-color: red;
}

.portfolioimg-2 {
    border-image: ;
    float: none;
}
.portfolio3 {
    border: 2px solid;
    flex: auto;
    width: 200px;
    height: 200px; 
    background-color: blue;
}

.contact {
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

/* .contact h1 {
    line-height: 5%;
} */

.contact-info div {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
}

/* .contact-info ul {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    width: 100% */
}

.footer {
    text-align: center;
}

@media screen and (max-width: 982px) {
    
}

@media screen and (max-width: 768px) {
    /* .head .nav {
        float:column;
    }
    .head {
        display: flex;
        justify-content:first baseline;
        padding: 20px;
        height: 150px;
        align-items: center;
        background-color:black;
        color:white;
    } */
    .devbox.devimgbg {
        height: auto
    }

    .devimg1 {
        width: 100px;
        height: 100px;
        position: absolute;
    }

     .about .skills up {
        height:auto;
    } 
} 



@media screen and (max-width: 480px) {
    
}