* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    /* border-style: dashed; */
}

body, main {
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 100px;
    align-items: center; 
    background-color:black;
    color:white;
}

.head-center {
    margin: 5px;
}

.head .nav {
    /* float:bottom; */
    height: 150px;
    width: 50%;
    padding-top: 15px;
    margin-right: 20px;
}

.head .nav a {
    text-decoration: none;
    color: white;
}
.devbox {
    position: relative;
    border: 2px solid;
    width: 100%;
    height: 1300px;
    background-color: black;

}
.devimgbg {
    width: 100%;
    height: 1000px;
}

.devimg1 {
    position:absolute;
    top: 45%;
    right: 3%;
    justify-content: left;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-color: white;
    border: 6px solid;
    z-index: 1;
}

.about {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 15px;
    text-align: center;
    background-color:black;
    color: white
}
.skills .div {
    display: flex;
    justify-content: wrap;
    width: 50%;
    text-align: left;
}

.skills ul {
    display: flex;
    /* flex-direction: column; */
    /* position: absolute; */
    justify-content:left;
    /*text-align: left;*/
    padding: 15px;
    align-items: center;
    list-style: none;
}

.skills ul li {
    padding: 15px;
    
}

.text-index {
    padding: 20px;
    text-align: left;
}

.text-left {
    text-align: left;
    }

.text-center {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;

}
.work { 
    position: relative;
    border: 2px solid;
    justify-content: baseline;
    padding: .1%;
    align-items: center;
    /* height: 800px;
    width: 100%; */
}

.workprojects {
    display: flex;
    flex-wrap: wrap;
    /* position:relative; */
    justify-content: space-evenly;
    border-style: thick;
    /* margin: 50px; */
    padding: 15px;
    background-color: rgb(18, 18, 58);
    border: 25px solid;
}

.ptag {
    position: relative;
}
.portfolio1 {
    margin: 3px;
    border: 2px solid;
    width: 450px;
    height: 550px; 
    /* background-color: white; */
    box-shadow: 10px 20px black;
}

.portfolio2 {
    margin: 2px;
    border: 2px solid;
    width: 250px;
    height: 300px; 
    justify-content: center;
    /* background-color: red; */
    box-shadow: 5PX 10PX black;
}

h4.ptitle {
    position: absolute;
    top: 10%;
    left: 30%;
    align-items: center;
    border: 2px solid; 
    padding: 5px;
    text-align: center;
    max-width: 200px;
    /* text-align: center; */
    background-color: black;
    color: white;
    z-index: 1; */
}

h4.ptitle1 {
    /* display:flex; */
    position: absolute;
    top: 10%;
    left: 30%;
    align-items: center;
    border: 2px solid; 
    padding: 5px;
    max-width: 100px;
    text-align: center;
    background-color: black;
    color: white;
    transform: rotate(15deg);
    }

.contact {
    position: relative;
    justify-content: space-evenly;
    /* width: 100%;
    height: 125px; */
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}

.contact h1 {
    line-height: 5%;
} 

div.contact-info ul {
    /*display: flex;
    position: absolute; */
    padding: 15px;
    text-align: center;
    margin-top: 15px;
} 

footer {
    text-align: center;

}


@media screen and (max-width: 982px) {
    .head, .nav {
        scale: 80%
    } 
}

@media screen and (max-width: 768px) {
     .head, .nav, .devbox.devimgbg, .devimg1  {
        scale: 60%
    }

     .about .skills ul {
        height:auto;
    }
    .workprojects a {
        /* display: flex; */
        /* position: absolute; */
        flex-direction: column;
        flex-wrap: wrap;
        margin: 15px 0px;
        /* height: 800px;
        width: 100%; */
    } 
    
} 



@media screen and (max-width: 480px) {
    .head .nav, .devbox.devimgbg, .devimg1  {
       scale: 40%
    }
}